{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    .bg-custom{
    background-color: rgb(186, 222, 251);
    }
    .container{
        display: flex;
        justify-content: center;
    }
    table,
    th,
    td {
        padding: 7px;
        text-align: center;
        border-collapse: collapse;
    }
    .square {
        height: 500px;
        width: 900px;
        background-color: rgb(250, 242, 242);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5%;

    }
    .center {
        padding: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-bg{
        height: 45px;
        width: 90px;
        background-color:rgb(186, 222, 251);
        border-radius: 10%;
        text-align: center;

    }
    .cont{
        text-align: center;
    }
</style>

<nav class="navbar navbar-expand-lg p-3 mb-3 ">
    <a class="navbar-brand" href="#">
    </a>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        </ul>
    </div>
    </nav>

<body class="bg-custom">
<div class = "square center">
    
    <h1 class="cont">Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td><input class="btn-bg" type="submit" name="submit" value="register"/></td>  
                </tr>  
                <tr>
                    <td><a href="{% url 'todolist:logout' %}">Back</a></td>
                </tr>
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}